.indicators {
  bottom: 3rem;
  position: absolute;
  left: 2.5rem;
  z-index: 20;
  @media (max-width: 980px) {
    left: 1.5rem;
  }
  li {
    margin: 0 0.3rem !important;
    button::before {
      background: white !important;
    }
  }
}

.text-vertical {
  writing-mode: sideways-lr;
}
